<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vizzioncloud</title>
</head>
<body>
    <header>
        <h1>VizzionCloud</h1>
    </header>

    <article class="cameraContent">
        <img [src]="message" alt="Imagen" *ngIf="checkedButtom == true">
        <img src="https://media.istockphoto.com/id/1279827701/vector/pixel-art-of-dinosaur-describing-offline-error-for-internet.jpg?s=612x612&w=0&k=20&c=HoeCica3tfij9WcWTJGzBRU-5qTUAxud_jslB4LYEpc=" alt="Imagen" *ngIf="checkedButtom == false">

        <section class="buttonsContainer">
            <div id="buttons" class="section">
                <p>Camara</p>
                <label class="switch">
                    <input type="checkbox" [checked]="checkedButtom == true" (change)="checkedButtom = !checkedButtom; checkStatus()">
                    <span class="slider round"></span>
                </label>
            </div>
        </section>
        <article class="logsContainer bg-off">
            <h3>Logs</h3>
            <section class="logsContainer">
                <ul>
                    <li>hola mundo</li>
                </ul>
            </section>
        </article>
    </article>

    
</body>
</html>

<!-- <h1>Test</h1>
<img [src]="message" alt="Imagen">
 -->